.recently_viewed_page_container {
  display: flex;
  flex-wrap: wrap;
}
.recently_viewed_page_left_container {
  width: 17%;
  padding-left: 4px;
  padding-right: 4px;
}
.recently_viewed_page_center_container {
  width: 73%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.recently_viewed_page_right_container {
  width: 10%;
  padding-left: 4px;
  padding-right: 4px;
}


.recently_viewed_page_slider .slick-arrow {
  background-color: var(--color-secondary) !important;
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;
  z-index: 9;
}
.recently_viewed_page_slider .slick-arrow::before {
  display: none !important;
}
.recently_viewed_page_slider .slick-arrow  svg {
  color: #FFF!important;
  font-size: 20px !important;
} 
.recently_viewed_page_slider .slick-prev {
  margin-right: -20px !important;
}
.recently_viewed_page_slider .slick-arrow.slick-prev svg {
  margin-left: 8px;
}
.recently_viewed_page_slider .slick-arrow.slick-next svg {
  margin-left: 2px;
}



@media (max-width: 1199.98px) {
    .recently_viewed_page_left_container {
        width: 18%;
      }
      .recently_viewed_page_center_container {
        width: 70%;
      }
      .recently_viewed_page_right_container {
        width: 12%;
      }
}

@media (max-width: 991.98px) {
  .recently_viewed_page_left_container {
    width: 100%;
  }
  .recently_viewed_page_center_container {
    width: 100%;
  }
  .recently_viewed_page_right_container {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
