.near_me_page_container {
  display: flex;
  flex-wrap: wrap;
}
.near_me_page_left_container {
  width: 20%;
  padding-left: 4px;
  padding-right: 4px;
}
.near_me_page_center_container {
  width: 70%;
  padding-left: 4px;
  padding-right: 4px;
}
.near_me_page_right_container {
  width: 10%;
  padding-left: 4px;
  padding-right: 4px;
}

@media (max-width: 1199.98px) {
  .near_me_page_left_container {
    width: 18%;
  }
  .near_me_page_center_container {
    width: 70%;
  }
  .near_me_page_right_container {
    width: 12%;
  }
}

@media (max-width: 991.98px) {
  .near_me_page_left_container {
    width: 100%;
  }
  .near_me_page_center_container {
    width: 100%;
  }
  .near_me_page_right_container {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
