/*---------------------------
	Header Styling
----------------------------*/
.header__wrap {
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-toggle::after {
    content: '\e905';
    border: none;
    font-family: "icomoon", sans-serif;
    vertical-align: middle;
    margin: 0;
  }
  
  .navbar-toggler {
    z-index: 3;
  }
  
  .navbar {
    padding: 0;
  }
  
  .navbar > .container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .navbar .dropdown-toggle::after {
    color: #fff;
  }
  
  .navbar-brand {
    position: relative;
    margin: 0;
    z-index: 3;
  }
  
  .navbar-brand img {
    width: auto;
    height: 70px;
  }
  
  .navbar-brand img.brand_logo-sm {
    display: none;
  }
  
  .navbar_custom.navbar-primary {
    width: 100%;
    top: 32px;
    left: 0;
  }
  
  .navbar_custom.navbar-primary .navbar-nav {
    border-top: #eceff2 1px solid;
  }
  
  .navbar_custom.navbar-primary .navbar-nav .nav-item .nav-link {
    line-height: 1;
    padding: 16px 8px;
    color: #222152;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .navbar_custom.navbar-primary .navbar-nav .nav-item.show .nav-link {
    background: #f1f4f7;
    color: #222155;
  }
  
  .navbar_custom.navbar-secondary {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .navbar_custom.navbar-secondary .navbar-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .navbar_custom.navbar-secondary .navbar-nav .nav-item .nav-link {
    padding: 0.6rem 0.4rem;
    line-height: 1;
    font-size: 0.7rem;
    color: #222152;
    text-transform: uppercase;
  }
  
  .navbar_custom.navbar-secondary .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  
  .navbar_custom.navbar-secondary .navbar-nav .nav-item.show .nav-link {
    background: #f1f4f7;
    color: #222155;
  }
  
  .navbar_custom.navbar-secondary .navbar-nav .nav-item .dropdown-menu .dropdown-item a {
    font-size: 0.8rem !important;
    text-decoration: none;
  }
  
  .mega-link {
    position: static;
  }
  
  .mega-link .dropdown-menu {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
    background: #f1f4f7;
    background-clip: initial;
    border-radius: 0;
  }
  
  .navbar-nav .nav-item .nav-link {
    cursor: pointer;
    color: #2c467f;
    letter-spacing: 0.025rem;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #222155;
  }
  
  .dropdown-menu {
    margin: 0;
    border: none;
    border-radius: 0;
    background: #f1f4f7;
  }
  
  .hdr_right-links {
    position: absolute;
    right: 15px;
    bottom: 0.65rem;
    z-index: 1;
  }
  
  .hdr_right-links ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hdr_right-links ul li {
    list-style: none;
  }
  
  .hdr_right-links ul li a {
    text-decoration: none;
    color: #222155;
  }
  
  .hdr_right-links ul li a:hover {
    color: #222155;
  }
  
  .hdr_right-links ul li a i {
    font-size: 1.25rem;
    vertical-align: text-bottom;
  }
  
  .hdr_right-links ul li + li {
    margin-left: 1.5rem;
  }
  
  .mega_cols-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .mega_cols-wrap .mega_col {
    position: relative;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left {
    width: 71%;
    padding: 2rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul {
    margin: 0;
    padding: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li {
    list-style: none;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #2c467f;
    padding-left: 3rem;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li a:hover {
    color: #222155;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li a i {
    color: #222155;
    position: absolute;
    font-size: 1.75rem;
    top: 0.25rem;
    left: 0;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li a small {
    display: block;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li a .ico-img {
    width: 30px;
    position: absolute;
    font-size: 1.75rem;
    top: 0.36rem;
    left: 0;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li a .right-arrow {
    width: 15px;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li .right-arrow-pad {
    padding-left: 1.5rem !important;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left ul li + li {
    margin-top: 1.5rem;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left .mega_col-tabs {
    width: 100%;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left .mega_col-tabs a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #2c467f;
    padding-left: 3rem !important;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left .mega_col-tabs a img {
    width: 30px;
    position: absolute;
    font-size: 1.75rem;
    top: 1.2rem;
    left: 0;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left .mega_col-tabs a small {
    display: block;
    margin-top: 0.5rem;
  }
  
  .mega_cols-wrap .mega_col.mega_col-left .mega_col-tabs .tab-content {
    padding: 1rem 0;
  }
  
  .mega_cols-wrap .mega_col.mega_col-right {
    width: 29%;
    padding: 2rem 0 2rem 2rem;
    background: #e9ebee;
  }
  
  .mega_cols-wrap .mega_col.mega_col-right:after {
    content: '';
    position: absolute;
    width: 1500%;
    height: 100%;
    top: 0;
    right: -1500%;
    background: inherit;
  }
  
  .mega_cols-wrap .mega_col.mega_col-right ul {
    margin: 0;
    padding: 0;
  }
  
  .mega_cols-wrap .mega_col.mega_col-right ul li {
    list-style: none;
  }
  
  .mega_cols-wrap .mega_col.mega_col-right ul li a {
    color: #2c467f;
    text-decoration: none;
  }
  
  .mega_cols-wrap .mega_col.mega_col-right ul li a:hover {
    color: #222155;
  }
  
  .mega_cols-wrap .mega_col.mega_col-right ul li + li {
    margin-top: 0.25rem;
  }
  
  .top__search--wrap {
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
  }
  
  .top__search--wrap .top__search--inner {
    padding: 1.2rem 0 0.5rem 19rem;
  }
  
  .top__search--wrap .top__search--inner .search_input {
    border: none;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
  }
  
  .top__search--wrap .top__search--inner .search_input:focus {
    border: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  
  .top__search--wrap .top__search--inner .btn {
    font-size: 1.25rem;
    border: none;
  }
  
  .top__search--wrap .top__search--inner .btn.search_close {
    font-size: 1.4rem;
  }
  
  .top__search--wrap .top__search--inner .btn:hover {
    color: #222155;
  }
  
  .top__search--wrap .top__search--inner .btn:focus {
    border: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  