.registration__page {
    margin-top: 0px;
    margin-bottom: 0px;
}

.registration__box {
    padding-top: 20px;
    padding-bottom: 50px; 
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--light-border-color);
    border-radius: 6px;
    background-color: #fff;
}
.registration__box .reg_title {
    /* color: brown; */
    color: var(--color-secondary);
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
}

.registration__box .form-row span {
    color: red;
    font-size: 12px;
}

.registration__page .btn_submit {
    width: 100%;
    background-color: var(--color-primary);
    font-weight: 700;
    font-size: 1rem;
    transition: 0.25s;
    border: 1px solid var(--color-primary);
}
.registration__page .btn_submit:hover {
    color: var(--color-primary);
    background-color: #FFFFFF;
}